{% extends  'SNCoreBundle::layout.html.twig' %}
{% block title %}
{{ parent() }}Index
{% endblock %}
{%  block content %}
    <h1>Welkom op de website van Stichting Nepal</h1>
    <h2>Ons Doel</h2>
    Stichting Nepal stelt zich tot doel onderwijs en gezondheidszorg mogelijk te maken en te stimuleren door:
    <ul>
        <li>- directe sponsoring van kinderen en schoolgeldprojecten</li>
        <li>- randvoorwaarden te scheppen die onderwijs en gezondheidszorg mogelijk maken door onder andere:</li>
            <ul>
                <li>de bouw of renovatie van scholen en gezondheidsposten</li>
                <li>financiering van leraren</li>
                <li>financiering van leermiddelen en hulpmiddelen</li>
            </ul>
    </ul>


    <h2>Onze Missie</h2>

    <p>Stichting Nepal heeft als missie het verbeteren van de leefomstandigheden en toekomstmogelijkheden van kinderen en maatschappelijk kwetsbaren in Nepal door de toegang tot onderwijs en gezondheidszorg voor hen te verbeteren.

    <p>Stichting Nepal werkt sinds 1992 vanuit een inclusieve visie waarin gelijke kansen op onderwijs en  gezondheidszorg worden gerealiseerd. Onze programma’s richten zich op duurzame samenwerking die leiden tot zelfredzaamheid van personen en instellingen. Daarbij bewandelen we beproefde wegen in het financieren van leerlingen en hun scholen, patiënten en hun behandelaars. Deze intersectorale aanpak heeft geleid tot op heden 150 projecten die zelfstandig functioneren  en een breed bereik hebben. Dit onder regie van de lokale gemeenschappen.

    <h2>Ons Beleid</h2>

    <p>Ons beleid is erop gericht om fondsen te werven om onze missie waar te maken. Dit doen we door de bouw, renovatie en reparatie van scholen, het verstrekken van financiële steun aan individuele kinderen en hun sociaal kader het verschaffen van docenten en leermiddelen. Onderwijsondersteunende zaken, zoals lunchprogramma’s, horen ook onder onze activiteiten evenals toegang tot gezondheidszorg.

    <h2>Wat is er gerealiseerd?</h2>

    <p>Sinds de oprichting heeft Stichting Nepal vele projecten gerealiseerd, waaronder de bouw van een weeshuis, enkele hostels voor kinderen die te ver van school wonen en 62 scholen. Verder wordt er nu een speciale school met onderwijs voor dove kinderen, inclusief hostel, gebouwd. Ook zijn er 15 scholen waarvan wij bij aanvang de docentensalarissen betaald hebben en ontvangen 12 scholen jaarlijks steun voor materialen en budget voor lunch. Zo’n 20 scholen zijn gerenoveerd.
    <h4>Hoeveel kinderen zitten op school?</h4>
    <p>Wij hebben tussen de 100 en 600 kinderen per school, dat geeft een schatting van 13.000 kinderen die hun opleiding voltooid hebben. De meerderheid betreft alleen de scholing. Zo'n 25 kinderen zitten op internaten. Daarnaast hebben wij individuele steun gegeven aan 745 kinderen. Het einddiploma is het SLC [School Leaving Certificate], te vergelijken met ons middelbareschooldiploma. In totaal hebben dus circa 13.000 kinderen hun SLC gehaald met steun van Stichting Nepal en zijn er op dit moment 6.000 op weg naar dit doel.
    <h4>Waar komen de kinderen terecht?</h4>
    <p>Hierover is niet alles bekend. Uiteraard hebben wij enkele succesverhalen:
    <ul>
    <li><strong>Bishnu Prasad Aryal</strong>, arts</li>
    <li><strong>Arjun Basnet</strong>, architect</li>
    <li><strong>Raju Pandit</strong>, socioloog</li>
    <li><strong>Yubraj Sharma</strong>, ingenieur</li>
    <li><strong>Narayan Dhakal</strong>, arts</li>
    <li><strong>Anu Lama</strong>, master marketing</li>
</ul>
    <p>Iedereen werkt in Nepal. Er werken diverse oud leerlingen voor NGO's en helpen bij de opbouw van Nepal. Een aantal werkt in de toeristen industrie, ondermeer in hotels in Kathmandu. Een aantal is administrateur [boekhouder]. Van ambachtslieden is ons niet veel bekend. Wel horen we vanuit de scholen dat de leerlingen met SLC een baan vinden.
    <h4>Waarom Nepal?</h4>
    <p>Nepal, het dak van de wereld, is een fascinerend land voor Europeanen. In de eerste plaats door de overweldigende natuur, waarvan de namen Mount Everest en Annapurna in ieders geheugen gegrift staan. Naast deze en andere reuzen kent Nepal prachtige valleien, tempels en bovenal een boeiende cultuur. Bij een eerste blik lijkt dit hindoerijk het verlangde “Shangri-la”.
    <p>Echter, zodra je in contact komt met de bevolking van Nepal, ontdek je de andere kant van deze prachtige wereld. Nepal behoort immers tot de vijf armste landen ter wereld. De Nepalese bevolking doet evenwel alles wat er op eigen kracht mogelijk is om een acceptabel bestaan op te bouwen. Toch heeft dit land haar bevolking niet veel te bieden. Vooral in de bergstreken zijn de mogelijkheden beperkt. Alleen met steun van buiten heeft dit unieke land een kans op toekomst. Wij menen dat die steun gegeven moet worden. Stichting Nepal zet zich reeds vanaf 1992 in om met name op het gebied van scholing ondersteuning te bieden aan de bevolking van dit boeiende land.


    <h3>Enkele voorbeelden</h3>
    <p>Voor een Nepalees kind is onderwijs net zo belangrijk voor een kans op een goede toekomst als voor een kind uit onze eigen omgeving. Echter in de meer afgelegen streken in Nepal is geen onderwijs voorhanden. De oplossing is een kostschool in de hoofdstad Kathmandu. Echter de kosten, ongeveer € 850,-- per jaar zijn hoger dan het jaarinkomen van een gezinshoofd. De opleiding duurt dan ook nog eens tien jaar. Zonder sponsor is dit niet mogelijk. Stichting Nepal is zo’n sponsor.
    <p>Een gezin bestaat uit meerdere kinderen. Er is slechts geld voor één enkel kind. Meisjes hebben geen kans. Stichting Nepal betaalt het schoolgeld.
    <p>Een dorp wil een eigen school of een gezondheidspost bouwen, maar het ontbreekt aan de middelen om materiaal te kopen. Of het gebouw staat er maar er is geen geld om bijvoorbeeld een onderwijskracht of het benodigde instrumentarium te betalen. Ook hier kan Stichting Nepal uitkomst bieden.
        {% image '@SNCoreBundle/Resources/public/images/index/index1.jpg' %}
        <img src="{{ asset_url }}" alt="nepal1" id="oSelectedImg" border="2" height="380" hspace="5" vspace="5" width="450"></p>
        {% endimage %}

    <table>
        <tbody>
        <tr>
            <td><strong>Krijn de Best</strong></td>
            <td>[Chairman] psycholoog</td>
        </tr>
        <tr>
            <td><strong>Martin Berghuis</strong></td>
            <td>[Treasurer] accountant</td>
        </tr>
        <tr>
            <td><strong>Robin de Best</strong></td>
            <td>[Secretary] student medicijnen</td>
        </tr>
        <tr>
            <td><strong>Marcel Damad</strong></td>
            <td>[Fund Raising] ondernemer</td>
        </tr>
        <tr>
            <td><strong>Sjoerd Ybema</strong></td>
            <td>[Construction & Safety] architect</td>
        </tr>
        <tr>
            <td><strong>Conny Groot</strong></td>
            <td>[Public Relations] Catharisis Productions</td>
        </tr>
        </tbody>
    </table>
    <br>
    Het bestuur wordt bijgestaan door een Adviesraad, die bestaat uit:
    <ul>
        <li>René de Bos, ondernemer, beklimmer Mount Everest 1990</li>
    <li>Ben Jansen, ondernemer, psycholoog</li>
    <li>Otto Jelsma, notaris</li>
    <li>Cas de Stoppelaar, consul honorair Nepal, bioloog</li>
    <li>Steven Walland, oogarts</li>
        </ul>

    <p>&nbsp;</p>
    <h1>Verantwoording en controle</h1>
    <p>Jaarlijks legt het bestuur verantwoording af over de inkomsten van de   stichting. Tevens stelt zij jaarlijkse projectverslagen op. </p>
    <p>De inkomsten en uitgaven aan de projecten in Nepal worden jaarlijks gecontroleerd door de accountants van Nepal Trust. In Nederland wordt de jaarrekening opgesteld door onafhankelijke accountants.</p>    <!-- end .content -->

{% endblock %}
