.blogImage {
    max-width: 400px;
    max-height: 400px;
    float: left;
}
.blogImageSmall {
    margin: 5px 10%;
    max-width: 80%;
}

.post {
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 450px;
    display: flex;
    flex-flow: row nowrap;
    background-color: RGBA(255,255,255,0.5);
}

.post h3 {
    text-align: center;
    width: 100%;
}
.postSideBar {
    flex:1;
}
.postContent{
    flex: 5;
}
