{% extends 'SNCoreBundle::layout.html.twig' %}
{% block content %}
    {% for post in posts %}
        <li>{{  post.title }} {{ post.createdOn|date("F jS \\a\\t g:ia") }}</li>
        <a href=" {{ path('sn_blog_delete', {'id' : post.id, }) }}">Delete</a>
        <a href=" {{ path('sn_blog_edit', {'id' : post.id, }) }}">Edit</a>
    {% endfor %}
{% endblock %}