{% extends 'SNCoreBundle::layout.html.twig' %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>


    {% for sponsor in sponsors %}
        <tr>
        <td>{{ sponsor.name }}</td>
        <td>
            <span class="deleteButton button"><a href=" {{ path('sn_sponsor_delete', {'id' : sponsor.id, }) }}">Delete</a></span>
            <span class="editButton button"><a href=" {{ path('sn_sponsor_edit', {'id' : sponsor.id, }) }}">Edit</a></span>
        </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}