{% extends  'SNCoreBundle::layout.html.twig' %}
{% block title %}
{{ parent() }}Index
{% endblock %}
{%  block content %}
    <h1>Welkom op de website van Stichting Nepal</h1>
    <p>DE FEITEN</p>
    <li>Wat is er gerealiseerd?</li>
    <p>Stichting Nepal heeft 64 bouwprojecten gerealiseerd, waarvan 1 weeshuis, 1  hostel en de overige 62 scholen. Wij beheren deze scholen niet, maar dragen  deze over aan de VDC's. Wel ontvangen een aantal scholen jaarlijks steun.  Daarnaast zijn er 15 scholen waarvan wij bij aanvang de docentensalarissen  betaald hebben en ontvangen 8 scholen jaarlijks steun voor materialen en budget  voor lunch. een school heeft een computerpracticum gekregen.<br><br>


    <li>Hoeveel kinderen zitten vanuit onze school op school?</li><br>
    <p>Wij hebben  tussen de 100 en 600 kinderen per school, dat geeft een schatting van 12.000  kinderen. De meerderheid betreft alleen de scholing. Zo'n 25 kinderen zitten op  internaten. Daarnaast hebben wij individuele steun gegeven aan 745 kinderen.
    <br>
    <br>

    <li>Hoeveel kinderen hebben SLC gehaald sinds onze betrokkenheid?</li><br>
    <p>Van de door ons  gebouwde scholen hebben we slechts een schatting. De projecten zijn  gerealiseerd in 22 jaar. Uitgaande van 12 jaar opleiding verlaten dus sinds 10  jaar kinderen de school met een SLC. Wij krijgen de resultaten door en het  betreft tussen de 15 en 30 kinderen per school. Ga uit van 20 kinderen x 10  jaar x 62 scholen, dan kom je op 12.400 kinderen. Voeg daarbij de kinderen die  wij individueel steunen, dan zijn daarvan 600 klaar met hun SLC.<br>
    In totaal  hebben dus circa 13.000 kinderen hun SLC gehaald met steun van Stichting Nepal. <br>
    <br>


    <li>Wat doen de leerlingen na hun SLC: universiteit, labour in buitenland,  studie in buitenland, landbouw, beroepsonderwijs, werken in horeca, eigen  bedrijf?</li><br>

    <p>Hierover is  niet alles bekend. Uiteraard hebben wij enkele succesverhalen:<br>
    <br>
    <p>Bishnu Prasad  Aryal, arts / Arjun Basnet, architect / Raju Pandit, socioloog / Yubraj Sharma,  ingenieur / Narayan Dhakal, ats / Anu Lama, master marketing. Iedereen werkt in  Nepal. Dan werken er diverse oud leerlingen voor NGO's en helpen bij de opbouw  van Nepal. Een aantal werkt in de toeristen industrie, ondermeer in hotels in  Kathmandu. Een redelijk aantal is sadministrateur [boekhouder]. Van  ambachtslieden is ons niet veel bekend. Wel horen we vanuit de scholen dat de  leerlingen met SLC een baan vinden. <br>
    <br>

    <li> Hoe stimuleert u het ondernemerschap bij uw leerlingen?</li><br>
    <p>Dit komt  uitsluitend voor indien een leerling na het SLC ons vraagt om verdere steun bij  een vervolgopleiding.<p></p>
    <hr>
    <p>Nepal, het dak van de wereld, is een fascinerend land voor   Europeanen. In de eerste plaats door de overweldigende natuur, waarvan   de namen Mount Everest en Annapurna in ieders geheugen gegrift staan.   Naast deze en andere reuzen kent Nepal prachtige valleien, tempels en   bovenal een boeiende cultuur. Bij een eerste blik lijkt dit   hindoekoninkrijk het verlangde “Shangri-la”. </p>
    <p>Echter, zodra je in   contact komt met de bevolking van Nepal, ontdek je de andere kant van   deze prachtige wereld. Nepal behoort immers tot de&nbsp;vijf armste landen   ter wereld. De Nepalese bevolking doet evenwel alles wat er op eigen   kracht mogelijk is om een acceptabel bestaan op te bouwen. Toch heeft   dit land haar bevolking niet veel te bieden. Vooral in de bergstreken   zijn de mogelijkheden beperkt. Alleen met steun van buiten heeft dit   unieke land een kans op toekomst. Wij menen dat die steun gegeven moet   worden. Stichting Nepal zet zich reeds 15 jaar in om met name op het   gebied van scholing ondersteuning te bieden aan de bevolking van dit   boeiende land.</p>
    <p><br>
        {% image '@SNCoreBundle/Resources/public/images/index/index1.jpg' %}
        <img src="{{ asset_url }}" alt="nepal1" id="oSelectedImg" border="2" height="380" hspace="5" vspace="5" width="450"></p>
        {% endimage %}
    <p><strong>Enkele voorbeelden</strong></p>
    <p>Voor   een Nepalees kind is onderwijs net zo belangrijk voor een kans op een   goede toekomst als voor een kind uit onze eigen omgeving. Echter in de   meer afgelegen streken in Nepal is geen onderwijs voorhanden. De   oplossing is een kostschool in de hoofdstad Kathmandu. Echter de kosten,   ongeveer € 850,-- per jaar zijn hoger dan het jaarinkomen van een   gezinshoofd. De opleiding duurt dan ook nog eens tien jaar. Zonder   sponsor is dit niet mogelijk. Stichting Nepal is zo’n sponsor. </p>
    <p>Een   gezin bestaat uit meerdere kinderen. Er is slechts geld voor één enkel   kind. Meisjes hebben geen kans. Stichting Nepal betaalt het schoolgeld. </p>
    <p>Een   dorp wil een eigen school bouwen, maar het ontbreekt aan de middelen om   materiaal te kopen. Of het gebouw staat er maar er is geen geld om een   onderwijskracht te betalen. Ook hier kan Stichting Nepal uitkomst   bieden. </p>
    <p>
        <!-- end #mainContent -->
    </p>
    <h1>Doel van Stichting Nepal</h1>
    <p>Stichting Nepal stelt zich tot doel onderwijs mogelijk te maken en te stimuleren door: </p>
    <p>- direkte sponsoring van kinderen en schoolgeldprojecten</p>
    <p>- randvoorwaarden te scheppen die onderwijs mogelijk maken door onder andere: </p>
    <ul>
        <li>de bouw of renovatie van scholen </li>
        <li>financiering&nbsp;van leraren</li>
        <li>financiering van leermiddelen</li>
    </ul>
    <h1>Bestuur Stichting Nepal</h1>
    <p>Stichting Nepal is een initiatief, ontstaan tijdens een bezoek aan   Nepal in 1992. De persoonlijke ervaringen van de initiatiefnemers gaven   hierbij de doorslag. Zij werden overweldigd door de schoonheid van het   land en de hartelijkheid en manier van leven van de Nepalezen. Op 12   februari 1993 werd Stichting Nepal formeel ingeschreven bij de kamer van   koophandel. </p>
    <p>Het bestuur van Stichting Nepal wordt gevormd door   gedreven en betrokken personen uit het bedrijfsleven die allen hun hart   hebben&nbsp;verpand aan Nepal. Belangeloos besteden zij een deel van hun tijd   aan de stichting en haar projecten. Het bestuur bestaat uit:</p>
    <br>

    <table>
        <tbody>
        <tr>
            <td><strong>Krijn de Best</strong></td>
            <td>Directie Human Potential Plus BV</td>
        </tr>
        <tr>
            <td><strong>Marcel Damad</strong></td>
            <td>Ondernemer</td>
        </tr>
        <tr>
            <td><strong>Sjoerd Ybema</strong></td>
            <td>Directie Alynia Architecten</td>
        </tr>
        <tr>
            <td><strong>Conny Groot</strong></td>
            <td>Directie Cartharsis producties</td>
        </tr>
        <tr>
            <td><strong>Robin de Best</strong></td>
            <td>Student</td>
        </tr>
        <tr>
            <td><strong>Cor Moonen</strong></td>
            <td>Financieel Adviseur</td>


        </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <h1>Verantwoording en controle</h1>
    <p>Jaarlijks legt het bestuur verantwoording af over de inkomsten van de   stichting. Tevens stelt zij jaarlijkse projectverslagen op. </p>
    <p>De   inkomsten en uitgaven aan projecten worden in Nepal gecontroleerd door   JB Rajbhandary &amp; DiBins Chartered Accountants, Kathmandu.<br>
        De jaarrekening van Stichting Nepal zelf wordt jaarlijks beoordeeld door GIBO Accountants en Adviseurs te Harlingen.</p>    <!-- end .content -->

{% endblock %}
{% block rightSide %}
        <h2>Latest post</h2>
        {{ render(controller('SNBlogBundle:Default:newest')) }}
{% endblock %}
