.backGroup {
    display: flex;
    flex-flow: row nowrap;
    border: 1px inset gray;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: #777777;
}
.backItem {
    box-sizing: border-box;
    border: 1px outset black;
    margin: 3px;
    text-align: center;
    padding: 5px;
    background-color: #8959A8;
    text-decoration: none !important;
    font-size: 1.5em !important;
    font-weight:bold !important;
    color: black !important;
    flex: 1;
}