<span class="sidebarItem"> <a href=" {{ path('sn_core_homepage') }}">Index</a></span>
<span class="sidebarItem"><a href=" {{ path('sn_blog_homepage') }}">Blog</a></span>
<span class="sidebarItem"><a href=" {{ path('sn_link_homepage') }}">Links</a></span>
{%  if is_granted("ROLE_ADMIN") %}
<span class="sidebarItem"><a href=" {{ path('sn_core_back') }}">BackOffice</a></span>
{% endif %}
