{% extends 'SNCoreBundle::layout.html.twig' %}
{% block title %}
    {{ parent() }}Donate
{% endblock %}
{% block content %}
    <h3>Donate through paypal</h3>

    <h3>Donate by direct deposit </h3>
    ABN Amro Bank
    IBAN: NL26ABNA0469766727
    BIC: ABNANL2A
{% endblock %}