{% extends 'SNCoreBundle::layout.html.twig' %}
{% block content %}
    {% for album in albums %}
        <h3>{{ album.name }}</h3>
        {% for image in album.images %}
            <p>image</p>
            <img class="blogImageSmall"
                 src="{{ asset(image.webPath) }}"
            />
        {% endfor %}
    {%  endfor %}
{% endblock %}